:root {
  --text-color: #f0f4f5;
  --background-color: #ed8b9e;
  --accent-color: #a1e1dc;
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: #a1e1dc;
}

body { 
  margin: 0;
  background-color: var(--bodybackground-color);
  font-family: 'STIX Two Math';
  
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 14px;
  font-family: 'STIX Two Math';
  font-weight: 700;
}
.navbar__logo {
    position: sticky;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 12px 30px;
}
.navbar__menu li:hover {
  background-color: #a1e1dc;
  border-radius: 3px;
}
.navbar__icons {
  list-style: none;
  display: flex;
  color: #b473c6;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  margin: 0;
}
.navbar__toggleBtn {
  display: none;
  color: #9e82d7;
  position: absolute;
  right: 30px;
  font-size: 20px;
}
.btnLogin {
    margin: 0;
    color: #ed8b9e;
    border: 1px solid #fff;
    background-color: #ed8b9e;
  }
/*768 이하로 줄어들면 내비바*/
@media screen and (max-width: 789px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
  }
}

.navbar__menu.active,
.navbar__icons.active {
  display: flex;
}
#main {
  text-align: center;

}
.main-map {
  position: relative;
  left: 10%;
  margin-top: 50px;
}
.main-title {
  font: 16px;
  font-weight: 800;
  color: #343434;

}

/*댕댕케어 슬라이드*/
.caremain {
  position: relative;
  text-align: center;
}

.care-img {
  display: block;
  margin: auto;
  top: 30%;
}

/*댕댕케어 버튼*/
#petbtn {
  color: #131313;
  border: #ed8b9e solid ;
  background-color: #ed8b9e;
  width: 200px;
  height: 50px;
  font: 500;
  font-weight: 700;
  position: static;
  top: 20%;

}









